* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}

#gallery {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 32px;
    columns: 4;
    column-gap: 0;
    transition: all 1s;
}
#gallery li {
    transition: all 1s;
    margin: 0 2px;
    margin-bottom: 4px;
/*     filter: grayscale(); */
    transition: filter 0.6s;
}
/* #gallery li:hover {
    filter: none;
} */

#gallery li img {
    height: auto;
    vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
    #gallery{
        columns: 2;
    } 
    #gallery li {
        filter: none;
    }
}
