main {
    padding: 36px;
    box-sizing: border-box;
}

main a {
    color: black;
}
main a:hover {
    color: gray;
}

#sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.site {
    /* max-width: 400px; */
    width: 45%;
    margin: 8px;

    border-bottom: 1px gray solid;

}
.site a{
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .site {
        /* max-width: 400px; */
        width: 100%;
        margin-bottom: 20px;


    }
}